/* Main */
.section .card .card-image {
	background-color: #000;
	border-radius: 5px;
}
	.section .card .card-image img {
	    opacity: 0.4;
		height: 100%;
	}


.card .card-content {
	color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}