/* General Settings */

body {
	background-color: #f7f7f7;
}
p, span {
	color: #000;
	font-size: 18px;
}

b {
	color: rgba(0,0,0,0.8);
}

.menu-link {
    position: relative;
    height: 56px;
    width: 56px;
    margin: 0;
}


#content {
	padding: 50px 5px 20px 5px;
}

nav.transparent {
	background: transparent !important;
	border: transparent;
	box-shadow: none;
}
	nav.transparent * {
		color: #FFF;
	}

.btn-link {
	background: transparent;
	border: none;
	box-shadow: none;
	color: #FFF;

	padding: 15px 22px;
}

.btn-block {
	width: 80% !important;
}

.btn-outline {
	background: transparent;
	color: #FFF;
	border: 2px solid #FFF;
}

.logo-big-center {
	width: 50%;
	margin: auto 25%;
}

.overlay {
	position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
	filter: blur(.5px);
}

.overlay-ease {
	position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
	filter: blur(.5px);
}

.show {
	display: flex;
	opacity: 1;
}
.hide {
	display: none;
	opacity: 0;
}

.blur {
    filter: blur(1.2px);
    -webkit-filter: blur(1.2px);
}

.text-center {
	text-align: center !important;
}

.full-width {
	width: 100% !important;
	height: 100% !important;
	margin: auto;
}

/* Search Bar */

.button-search {
	float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

#search-bar {
	position: fixed;
	right: 0;
}

#search-bar,
#search-bar * input{
	-webkit-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
	width: 0px !important;
}
#search-bar.search-show,
#search-bar.search-show * input {
	width: 100% !important;
}

.search-show form .input-field i {
	position: fixed;
	color: #000;
	z-index: 999 !important;
}

.nav-wrapper .input-field input[type=search] {
    height: 56px;
    background: #fff;
    position: fixed;
    padding-left: 2rem;
    width: calc(100% - 2rem);
	z-index: 999;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border: none;
}
/* Collection */

.collection {
	margin: 0px -5px;
    border: none;
}
	.collection .collection-item {
		border-bottom: 1px solid #efefef;
	}

		.collection .collection-item:first-child {
			border-top: 1px solid #efefef;
		}

		.collection .collection-item:last-child {
			border-bottom: 1px solid #efefef;
		}

	.collection .collection-item * {
		color: rgba(0,0,0,0.8);
	}

	.collection .collection-item i {
	    color: #009688;
	}

	.collection .collection-item.avatar {
	    max-height: 100%;
	    min-height: 60px;
	}

	.collection .collection-item.avatar .collection-icon {
	    position: absolute;
	    width: 42px;
	    height: 42px;
	    overflow: hidden;
	    left: 15px;
	    padding: 8px 0px;
	    display: inline-block;
	    text-align: center;
	}

	.collection .collection-item.avatar .title {
	    position: absolute;
	    top: 20px;
	    left: 73px;
	}

/* Card Content-Center */
.card.card-center .card-image {
	background-color: #000;
	border-radius: 5px;
	min-height: 120px;
	height: 100%;
}
	.card.card-center .card-image img {
	    opacity: 0.4;
		height: 100%;
	}


	.card.card-center .card-content {
		color: #fff;
	    position: absolute;
	    width: 100%;
	    text-align: center;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

/* Timeline Circle */
.timeline-circle {
    position: relative;
    width: 100%;
    margin: 0px auto;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: 50px;
    list-style-type: none;
}

.timeline-circle:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 10px;
    height: 100%;
    margin-left: -5px;
    background: #14cebc;
    z-index: 5;
}
	.timeline-circle:first-child:before {
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    height: 50%;
	}
	.timeline-circle:last-child:before {
	    position: absolute;
	    left: 50%;
	    bottom: 50%;
	    height: 50%;
	}

.timeline-circle li {
    padding: 1em 0;
    width: 100%
}

.timeline-circle .circle {
    height: 250px;
    width: 250px;

    font-size: 1.5em;
    font-style: italic;
    line-height: 1.5em;

    border-radius: 50%;
    border: 3px solid #fff;

    position: relative;
    margin: auto auto 5em;
    padding: 0;
    z-index: 15;

    color: #FFF;
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    .timeline-circle .circle img {
        border-radius: 50%;
        display: block;
        position: relative;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        width: 100%;
        height: 100%;
        opacity: 0.4;
    }

    .timeline-circle .circle .content {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



/*
 *
 * PAGES
 *
 */

/* Cadastro */

	.cadastro header {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background: #1a1d1a;
	}

	.cadastro header nav .brand-logo.right img,
	.cadastro header nav .brand-logo.center img,
	.cadastro header nav .brand-logo.left img {
		min-width: 35px;
		margin-top: 10px;
		margin-right: 10px;
	}

	.cadastro header .section {
		min-height: 100vh;
		max-height: 100%;
		width: 100%;

		padding-top: 5vh;

		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: rgba(0,0,0,0.5);
	}
	.cadastro header .section .logo-big-center {
		width: 30%;
		margin: auto 35%;
	}

/* Login */

	.login header {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background: #1a1d1a;
	}

	.login header nav .brand-logo.right img,
	.login header nav .brand-logo.center img,
	.login header nav .brand-logo.left img {
		min-width: 35px;
		margin-top: 10px;
		margin-right: 10px;
	}

	.login header .section {
		min-height: 100vh;
		max-height: 100%;
		width: 100%;

		padding-top: 10vh;

		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: rgba(0,0,0,0.5);
	}
	.login header .section #logo-login {
		z-index: 1;
		position: absolute;
		width: 8%;
		right: 20px;
		top: 10px;
	}
	.login header .section .button-group {
		padding-top: 60vh;
		text-align: center;
	}
		.login header .section .button-group a {
			width: 80%;
		}
		.login header .section .button-group a:first-child {
			margin-bottom: 20px;
		}

/* Config */

	.config .top-card {
		margin-top: 20px;
		text-align: center;
	}
		.config .top-card img {
			width: 30%;
			display: inline-flex;
			background: #FFF;
			padding: 10px;
		}

/* Single */
	.single p, span {
		color: #000;
		font-size: 18px;
	}

	b {
		color: rgba(0,0,0,0.8);
	}

	.single .background-menu {
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: cover;
	}

	.single .background-menu:after {
	    content : "";
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-color: rgba(0,0,0,0.5); 
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	}

	.single .menu-link {
	    position: relative;
	    height: 56px;
	    width: 56px;
	    margin: 0;
	}
		.single #search-bar.search-show .menu-link,
		.single #search-bar.search-show * input .menu-link {
			display: none;
		}

	.single #content {
		padding-top: 0px !important;
		padding-left: 5px;
		padding-right: 5px;
	}

	.single .section-top .card {
		margin-top: 0;
	}

	.single .section-top .card .card-image {
		background-color: #000;
	}
		.single .section-top .card .card-image img {
		    opacity: 0.5;
		}


	.single .section-top .card .card-content {
		color: #fff;
	    position: absolute;
	    width: 100%;
	    text-align: center;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.single ul .meta-list {
		text-align: center;
	}

	.single .meta-list li {
		margin: 15px 20px;
		display: inline-block;
	}
		.single .meta-list li:first-child {
			margin-left: 0px;
		}
		.single .meta-list li:last-child {
			margin-right: 0px;
		}
		.single .meta-list li span {
			padding: 5px 0px;
			border-bottom: 1px solid #000;
		}