<nav class="nav-extended teal navbar-fixed">
    <div class="nav-wrapper">
        <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>

        <a href="#" class="brand-logo center" style="font-size: 1.5em">Turismo Quissamã</a>

        <a href="#" class="button-search">
            <i class="material-icons">search</i>
        </a>

        <div id="search-bar">
            <form>
                <div class="input-field">
                    <input id="search-input" type="search" required>
                    <i class="material-icons" id="close-search">close</i>
                </div>
            </form>
        </div>

        <ul class="side-nav" id="mobile-demo" style="background: linear-gradient(150deg, rgb(9, 230, 210), rgb(138, 236, 227))">
            <li>
                <div class="user-view center">
                    <a href="#!user">
                        <img class="circle" src="../assets/img/profile.jpg">
                    </a>
                    <a href="#!name">
                        <span class="name">Lucas Craveiro Paes</span>
                    </a>
                    <a href="#!email">
                        <span class="email">lucascraveiropaes@gmail.com</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="#" class="active">
                    <i class="material-icons">home</i> Início
                </a>
            </li>
            <li>
                <a href="/paginas/circuitos/">
                    <i class="material-icons">maps</i> Roteiros de Visitação
                </a>
            </li>
            <li>
                <a href="/paginas/turismo/">
                    <i class="material-icons">local_dining</i> Atrativos Turísticos
                </a>
            </li>
            <li>
                <a href="#!">
                    <i class="material-icons">store</i> Comércio
                </a>
            </li>
            <li>
                <a href="#!">
                    <i class="material-icons">directions_bike</i> Recreação
                </a>
            </li>
            <li>
                <a href="./config.html">
                    <i class="material-icons">settings</i> Configurações
                </a>
            </li>

        </ul>
        
    </div>
</nav>