/* Index */
.index header {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background: #1a1d1a;
}
.index header .section-image {
	min-height: 100vh;
	max-height: 100%;
	width: 100%;
	padding-bottom: 1px;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0.5);
}
.index header .section-image #logo-login {
	z-index: 1;
	position: absolute;
	width: 40%;
	margin: 25% 30%;
}
.index header .section-image .button-group {
	padding-top: 15vh;
	text-align: center;
}
	.index header .section-image .button-group a {
		margin-top: 20px;
		margin-bottom: 20px;
	}
