p, span {
	color: #000;
	font-size: 18px;
}

b {
	color: rgba(0,0,0,0.8);
}

#modal-title {
	color: #000;
}

#modal-text {
	font-size: 1.1em;
    margin-top: 35px;
    color: rgba(0,0,0,0.9);
}

.circle {
	border-radius: 50% !important;
}

.category-content {
	position: fixed;
    height: 60px;
    width: 60px;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
}
	.category-content img {
	    height: 60px;
	    width: 60px;
	}

.background-menu {
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.background-menu:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.menu-link {
    position: relative;
    height: 56px;
    width: 56px;
    margin: 0;
}
	#search-bar.search-show .menu-link,
	#search-bar.search-show * input .menu-link {
		display: none;
	}

#content {
	padding-top: 0px !important;
	padding-left: 5px;
	padding-right: 5px;
}

.section-top .card {
	margin-top: 0;
}

.section-top .card .card-image {
	background-color: #000;
	height: 300px;
}
	.section-top .card .card-image img {
        opacity: 0.4;
		height: 100%;
		filter: blur(1.5px);
	}


.section-top .card .card-content {
	color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

ul.meta-list {
	text-align: center;
}

.meta-list li {
	margin: 15px 20px;
	display: inline-block;
}
	.meta-list li:first-child {
		margin-left: 0px;
	}
	.meta-list li:last-child {
		margin-right: 0px;
	}
	.meta-list li span {
		padding: 5px 0px;
		border-bottom: 1px solid #000;
	}


/* Share Modal */
#share-modal {
    display: none;
}
    .share-modal-opacity {
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.6);

        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

    .share-content {
        position: fixed;
        bottom: 0;
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        width: 100%;
        z-index: 99;

        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }
        .share-content h4 {
            margin: 14px auto 34px 10px;
			font-weight: 400;
			color: #696969;
			font-size: 1.4em;
        }

        .share-icons {
            padding: 0;
            list-style: none;
        }

        .share-icons li {
            display: inline-block;
            padding: 0;
        }

        .share-icons li a img {
            margin: auto 10px;
            width: 50px;
            border-radius: 4px;
        }
