/* General Settings */

body {
	background-color: #1a1d1a;
}


#content {
	padding: 50px 5px 20px 5px;
}

nav.transparent {
	background: transparent !important;
	border: transparent;
	box-shadow: none;
}
	nav.transparent * {
		color: #FFF;
	}

.btn-link {
	background: transparent;
	border: none;
	box-shadow: none;
	color: #FFF;

	padding: 15px 22px;
}

.btn-block {
	width: 80% !important;
}

.btn-outline {
	background: transparent;
	color: #FFF;
	border: 2px solid #FFF;
}

.logo-big-center {
	width: 50%;
	margin: auto 25%;
}

.overlay {
	position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
	filter: blur(.5px);
}

.overlay-ease {
	position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
	filter: blur(.5px);
}

.show {
	display: flex;
	opacity: 1;
}
.hide {
	display: none;
	opacity: 0;
}

.blur {
    filter: blur(1.2px);
    -webkit-filter: blur(1.2px);
}

.text-center {
	text-align: center !important;
}

.full-width {
	width: 100% !important;
	height: 100% !important;
	margin: auto;
}

/* Search Bar */

.button-search {
	float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

#search-bar {
	position: fixed;
	right: 0;
}

#search-bar,
#search-bar * input{
	-webkit-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
	width: 0px !important;
}
#search-bar.search-show,
#search-bar.search-show * input {
	width: 100% !important;
}

.search-show form .input-field i {
	position: fixed;
	color: #000;
	z-index: 999 !important;
}

.nav-wrapper .input-field input[type=search] {
    height: 56px;
    background: #fff;
    position: fixed;
    padding-left: 2rem;
    width: calc(100% - 2rem);
	z-index: 999;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border: none;
}